<div class="contents">
  <h1>とうこうをかく</h1>
  <%= form_for(@post) do |f| %>
     <%= f.text_area :text, placeholder:"なにかかいてね", style: 'width: 100%; height: 300px;' %>
     <%= f.submit :class => "button", :value => "とうこうする" %>
  <% end %>
</div>