$(".contents").html(`<div class="confirmation">
                      <h1>
                      へんしゅうが かんりょう しました
                      </h1>
                      <a id="return_index_button" class="button" href="/">とうこうがめんへ</a>
                    </div>`)