h1,h2,h3,h4,h5,h6,p,a,body,input,textarea,form{
  color: white;
  font-family: PixelMplus10-Regular;
  text-decoration: none;
}

body,input{
  background-color: black;
}

header{
  background-color: black;
  height: 100px;
  width: 100%;
  border-bottom: 4px solid white;
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1;
}

.header_logo{
  font-size: 50px;
  margin-left: auto;
  cursor: pointer;
}

.header_button{
  margin-left: auto;
}

.button{
  font-size: 20px;
  border: 3px solid white;
  padding: 5px;
  margin: 0 10px;
  cursor: pointer;
}

.contents{
  padding-top: 100px;
  margin: 0 80px;
}

.post_area{
  min-height: 100px;
  border: 3px solid white;
  margin: 30px 0;
  padding: 20px;
}
